.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  filter: blur(3px);
}

.remodal-overlay {
  background: rgba(75, 77, 74, 0.49);

  &.remodal-is-opening,
  &.remodal-is-closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &.remodal-is-opening {
    animation-name: remodal-overlay-opening-keyframes;
  }

  &.remodal-is-closing {
    animation-name: remodal-overlay-closing-keyframes;
  }
}

.remodal-wrapper {
  padding: 10px 10px 0;
}

.remodal {
  max-width: 900px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  transform: translate3d(0, 0, 0);
  color: $global-font-color;
  background: #FFE4D8;
  vertical-align: middle;

  .ya-page & {
    display: none;
  }

  &.remodal-is-opening,
  &.remodal-is-closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &.remodal-is-opening {
    animation-name: remodal-opening-keyframes;
  }

  &.remodal-is-closing {
    animation-name: remodal-closing-keyframes;
  }
}

.remodal-wrapper {

  &::after {
    vertical-align: middle;
  }
}

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}