    </div>
</div>
<script type="text/javascript">
    var yaModules = {};
    var pageReady = false;
    var pageLoad = false;
    var scriptsForLoad = [];

    window.addEventListener("DOMContentLoaded", function() {
        pageReady = true;
    });
    window.addEventListener("load", function() {
        pageLoad = true;
    });
    window.isTouchScreen = 'ontouchstart' in window;
</script>

<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>

<script async src="__static__js/main%=hash=%%=min=%.js"></script>

</body>
</html>
