<div class="ya-pagination">
    <div class="ya-pagination__list">
        <ul class="ya-pagination__list-ul">
            <li class="ya-pagination__list-li">
                <span class="ya-pagination__list-text">
                    <span class="ya-icon ya-icon--pointer-left-blue-2"></span>
                </span>
            </li>
            {{#each list}}
                <li class="ya-pagination__list-li {{mod}} {{isActive}}">
                    <a {{#unless isActive}} href="#" {{/unless}} class="ya-pagination__list-text">{{text}}</a>
                </li>
            {{/each}}
            <li class="ya-pagination__list-li">
                <a href="#" class="ya-pagination__list-text">
                    <span class="ya-icon ya-icon--pointer-right-blue-2"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
