.ya-pagination {
    font-size: 16px;
    margin-bottom: em(32px);
}

.ya-pagination__list {
    display: flex;
    justify-content: center;
}

.ya-pagination__list-ul {
    @include cols(default, em(32px), 'li');

    align-items: center;
}

.ya-pagination__list-li {

    &:first-child {
        margin-right: em(16px);
    }

    &:last-child {
        margin-left: em(16px);
    }
}

.ya-pagination__list-text {
    display: block;
    text-decoration: none;
    color: #5a5a5a;
    font-size: em(18px);
    font-weight: 700;
    transition: all $global-transition-duration linear;

    .ya-is-active & {
        color: $anchor-color;
        font-size: em(20px);
        cursor: default;
        pointer-events: none;
    }
}

a.ya-pagination__list-text {

    &:hover {
        color: $anchor-color;
    }
}
