.ya-content__row {
    display: flex;
}

.ya-content__main {
    //max-width: 100%;
    min-width: 1px;
    flex-grow: 1;
    //flex-basis: 0% !important;
}

.ya-sidebar {
    flex-shrink: 0;
}

.ya-sidebar__container {
    padding-left: 21px;
    padding-right: 21px;
}

.ya-sidebar__block {
    width: 250px;

    & + & {
        margin-top: 25px;
    }

    .ya-sidebar:first-child & {
        margin-right: 30px;
    }

    .ya-sidebar:last-child & {
        margin-left: 30px;
    }
}
