<div class="ya-content">
    <div class="ya-container">
        {{#if pageTitle}} <span class="ya-page__title">{{pageTitle}}</span> {{/if}}
        <div class="ya-content__row">
            <div class="ya-sidebar">
                {{#if sidebar}}
                    <div class="ya-sidebar__block">
                        <div class="ya-sidebar__container">
                            <span class="ya-sidebar__title">{{menuSidebar.title}}</span>
                            {{> yaMenu/yaMenu menuSidebar.data}}
                        </div>
                    </div>
                {{/if}}
            </div>
            <div class="ya-content__main">

            </div>
            <div class="ya-sidebar">
                <div class="ya-sidebar__block">
                    <div class="ya-sidebar__container">
                        <span class="ya-sidebar__title">{{menuSidebar.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>