<div class="ya-content">
    {{#if pageIndex}}
       
    {{else}}
        {{#if pageTitle}} <span class="ya-page__title ya-container">{{pageTitle}}</span> {{/if}}
        <div class="ya-container">
            <div class="ya-content__row">
                <div class="ya-col ya-sidebar--left">
                    {{#if sidebar}}
                        <div class="ya-sidebar__block">
                            <span class="ya-sidebar__title">{{menuSidebar.title}}</span>
                            {{> yaMenu/yaMenu menuSidebar.data}}
                        </div>
                    {{/if}}
                </div>
                <div class="ya-col ya-content__main">
                    
                </div>
                <div class="ya-col ya-sidebar--right">

                </div>
            </div>
        </div>
    {{/if}}
</div>

