// заполнение изображением контейнера с сохранением пропорций, выравниванием по горизонтали. По вертикали по верху изображения.
%img-cover {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    & > img {
        min-height: 100%;
        max-width: 1000%;
        min-width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

// абсолютное позиционирование с заполнением контейнера
%position-contain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
