@import "custom-reset";

html {
    overflow-y: scroll;
    font-size: 16px;
}

body {
    box-sizing: $global-box-sizing;
    color: $global-font-color;
    font-family: $font-main;
    font-size: $global-font-size;
    line-height: $global-lineheight;
    font-weight: $global-weight-normal;
    // background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent 23px, red 23px, red 24px);
    // background-position: 0 -6px;

    @if ($body-antialiased) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.ya-page {
    min-width: $global-width + $global-padding * 2;
    overflow: hidden;
}

.ya-container {
    @include container();
}

.ya-rouble {
    // font-family: $font-rouble;
}

::-moz-selection {
    background-color: $selection-background-color;
    color: $selection-color;
    text-shadow: $selection-text-shadow;
}

::selection {
    background-color: $selection-background-color;
    color: $selection-color;
    text-shadow: $selection-text-shadow;
}

// inertial scroll for mobile
.element {
    -webkit-overflow-scrolling: touch;
}

.ya-full-window {
    width: 100vw;
    min-width: $global-width + $global-padding * 2;
    margin-left: 50%;
    transform: translateX(-50%);
}

// change position in different screen sizes
@for $i from 0 through 10 {
    &.ya-order-mobile-#{$i} {
        order: #{$i};

        @include breakpoint(large) {
            order: 0;
        }
    }
}

.ya-hidden {
    @include element-invisible();
}

@mixin reset-first-last-margins() {
    & > *:last-child {
        margin-bottom: 0 !important;
    }

    & > *:first-child {
        margin-top: 0 !important;
    }
}

// ol {
// counter-reset: item;

// li {
// display: block;
// list-style: decimal inside;

// &:before {
//     content: counter(item) ". ";
//     counter-increment: item;
//     color: $text-list-color-counter;
//     position: absolute;
//     left: 0;
//     top: 0;
// }
// }
// }



