// Project settings
// ----------------


// Global //
// ---------

$global-padding: 10px; // padding at the edges of the page
$global-width: 980px; // width main container. 0 for width 100%
$global-max-width: 100%; // will change for responsive
$global-font-size: 16px;
$global-lineheight: 1.5;
$global-font-color: #323232;
$global-weight-normal: 400;
$global-weight-bold: bolder;
$global-box-sizing: border-box;
$global-transition-duration: .1s;
$global-transition-duration-icons: $global-transition-duration;
$body-antialiased: true;

$selection-background-color: blue;
$selection-color: #fff;
$selection-text-shadow: none;

$z-index-base: 1;
$z-index-hover: 10;
$z-index-fixed: 20;
$z-index-popup: 30;
$z-index-hidden: -1;

// Anchor seeting //
// -----------------

$anchor-color: #909090;
$anchor-color-hover: #01579b;
$anchor-color-active: #063356;
$anchor-color-visited: #01579b;

// Buttons setting //
// ------------------

$button-border-width: 1px; // for off - 0
$button-border-style: solid;
$button-height: 44px;
$button-padding-x: 30px; // paddings left and right
$button-correction-bottom: 0; // vertical center correction
$button-correction-top: 0; // vertical center correction
$button-font-family: $font-main;
$button-font-weight: $global-weight-normal;
$button-font-size: 16px;
$button-radius: 3px;

// Forms settings //
// -----------------

$field-color: $global-font-color;
$field-background: white;
$field-border-width: 1px;
$field-border-style: solid;
$field-border-color: black;
$field-height: 30px;
$field-font-family: $font-main;
$field-font-size: $global-font-size;
$field-font-weight: $global-weight-normal;
$field-padding: 10px;
$field-border-radius: 5px;

$field-focus-color: $field-color;
$field-focus-background: $field-background;
$field-focus-border-color: $field-border-color;

$field-textarea-height: 150px;
$field-textarea-padding: 5px;

$field-error-color: red;
$field-error-border-color: $field-error-color;
$field-error-background: $field-background;

// Breakpoints //
// --------------

$breakpoints: (
    start: 0px,
    small: 320px,
    xsmall: 480px,
    smedium: 600px,
    medium: 768px, // 510px + $global-padding-medium-down * 2
    large: 960px, // $global-max-width + $global-padding-medium-down * 2
    xlarge: 1200px,
    xxlarge: 1440px
);
