// Настройки проекта

// 1. Глобальные
// 2. Типографика
// 3. Кнопки
// 4. Формы
// 5. Breakpoints
// 6. Фиксированный header
// 7. Modular scale
// 8. Переменные проекта


// 1. Глобальные //
// ----------------

$class-container-page: 'ya-page';
$class-header: 'ya-header';
$class-container-content: 'ya-content';
$class-footer: 'ya-footer';
$class-container: 'ya-container';
$class-title: 'ya-title';
$class-container-text: 'ya-text';
$class-link: 'ya-link';
$class-icon: 'ya-icon';
$class-hidden: 'ya-hidden';

$global-path: "__static__"; // путь к изображениям
$global-padding: 10px; // отступы по краям страницы
$global-width: 980px; // ширина основного контейнера. 0 для ширины 100%
$global-max-width: 100%; // при responsive
$global-font-size: 16px;
$global-lineheight: 1.5;
$global-font-color: #323232;
$global-weight-normal: 400;
$global-weight-bold: bolder;
$global-background: white;
$global-box-sizing: border-box;
$global-transition-duration: .1s;
$global-transition-duration-icons: $global-transition-duration;
$body-antialiased: true;

$selection-background-color: blue;
$selection-color: #fff;
$selection-text-shadow: none;

$z-index-base: 1;
$z-index-hover: 10;
$z-index-fixed: 20;
$z-index-popup: 30;
$z-index-hidden: -1;

// 2. Типографика //
// -----------------

// $text-margin: 0 0 2em; // отступ контейнера для текста

$text-margin: 1.5em;
$text-font-size: 18px;
$text-font-family: $font-main;

$text-h-font-family: $font-main;
$text-h-color: $global-font-color;
$text-h-line-height: $global-lineheight;

$anchor-color: inherit;
$anchor-color-hover: #d51b1b;
$anchor-color-visited: #d51b1b;
$anchor-transition-duration: $global-transition-duration;
$anchor-border: 1px dotted;
$anchor-border-color-hover: transparent;

$typography: (
    p: (
        margin-bottom: ($text-margin, 0)
    ),
   'blockquote p': (
        margin: (0, 0)
    ),
    h1: (
        margin: (em(28px, 18px) 0 em(15px, 18px), 0),
        font-size: (em(24px, 18px), inherit),
        font-family: ($text-h-font-family, inherit),
        color: ($text-h-color, inherit),
        line-height: ($text-h-line-height, inherit)
    ),
    h2: (
        margin: (em(26px, 18px) 0 em(13px, 18px), 0),
        font-size: (em(22px, 18px), inherit),
        font-family: ($text-h-font-family, inherit),
        color: ($text-h-color, inherit),
        line-height: ($text-h-line-height, inherit)
    ),
    h3: (
        margin: (em(29px, 18px) 0 em(15px, 18px), 0),
        font-size: (em(11px, 18px), inherit),
        font-family: ($text-h-font-family, inherit),
        color: ($text-h-color, inherit),
        line-height: ($text-h-line-height, inherit),
        text-transform: (uppercase, none),
        letter-spacing: (2px, normal)
    ),
    h4: (
        margin: (em(24px, 18px) 0 em(11px, 18px), 0),
        font-size: (em(18px, 18px), inherit),
        font-family: ($text-h-font-family, inherit),
        color: ($text-h-color, inherit),
        line-height: ($text-h-line-height, inherit)
    ),
    h5: (
        margin: (em(24px, 18px) 0 em(11px, 18px), 0),
        font-size: (em(18px, 18px), inherit),
        font-family: ($text-h-font-family, inherit),
        color: ($text-h-color, inherit),
        line-height: ($text-h-line-height, inherit)
    ),
    h6: (
        margin: (em(24px, 18px) 0 em(11px, 18px), 0),
        font-size: (em(18px, 18px), inherit),
        font-family: ($text-h-font-family, inherit),
        color: ($text-h-color, inherit),
        line-height: ($text-h-line-height, inherit)
    ),
    'ul, ol': (
        margin: ($text-margin 0, 0)
    ),
    'ol li': (
        list-style: (decimal inside, none)
    ),
    'ul li': (
        list-style: (disc inside, none)
    ),
    img: (
        margin: (em(43px, 18px) 0, 0),
        display: (block, block),
        border: (0, 0)
    ),
    blockquote: (
        border-top: (1px solid #E3E3E3, none),
        border-bottom: (1px solid #E3E3E3, none),
        margin: (em(24px, 18px) 0, 0),
        padding: (em(14px, 18px) 0, 0),
        font-size: (em(32px, 18px), inherit),
        line-height: (1.35, inherit),
        color: (#3B3D40, inherit),
        position: (relative, static)
    ),
    table: (
        width: (100%, 100%),
        table-layout: (fixed, fixed),
        margin-bottom: ($text-margin, 0),
        border-collapse: (collapse, collapse),
        border-spacing: (0, 0)
    ),
    'td, th': (
        height: (em(44px), auto),
        padding: (0 em(15px), 0),
        text-align: (left, left)
    ),
    th: (
        background: (#2E2E30, none),
        border: (1px solid #626262, none),
        font-family: ($font-main, inherit),
        font-weight: (700, 700),
        font-size: (em(16px), inherit),
        color: (#fff, #fff)
    ),
    td: (
        border: (1px solid #DDDDDD, 1px solid #DDDDDD),
        color: (#272727, #272727),
        font-size: (em(14px), inherit)
    ),
    'td:first-child': (
        font-family: ($font-main, inherit),
        font-size: (em(16px), inherit),
        color: (#080808, #080808),
        font-weight: (700, 700)
    ),
    'tr:nth-child(2n+2) td': (
        background: (#EFEFEF, #EFEFEF)
    ),
    a: (
        color: ($anchor-color, $anchor-color),
        text-decoration: (none, none),
        transition: (all $global-transition-duration linear, all $global-transition-duration linear),
        -webkit-tap-highlight-color: (transparent, transparent)
    ),
    'a:hover': (
        color: ($anchor-color-hover, $anchor-color-hover)
    ),
    pre: (
        overflow: (auto, auto)
    ),
    'b, strong': (
        color: (#3b3d40, currentColor)
    )
);

// $text-list-margin:  0 0 em(15px) em(50px);
// $text-list-li-padding-left: em(24px);
// $text-list-color-counter: $global-font-color;

// $text-img-margin: em(20px) 0;


// 3. Кнопки //
// ------------

$button-class: 'ya-button';

$button-border-width: 1px; // для выключения - 0
$button-border-style: solid;
$button-height: 40px;
$button-width: auto;
$button-padding: 20px; // отступы слева и справа
$button-font-family: $font-main;
$button-font-weight: $global-weight-normal;
$button-font-size: $global-font-size;
$button-transition-duration: $global-transition-duration;
$button-active-transition-duration: 0s;
$button-radius: 3px;
$button-text-transform: none;

// 4. Формы //
// -----------

$field-class: 'ya-field';
$field-group-class: 'ya-field-group';
$field-container-class: 'ya-field-container';
$field-class-error: 'ya-error';

$field-color: $global-font-color;
$field-background: white;
$field-border-width: 1px;
$field-border-style: solid;
$field-border-color: black;
$field-height: 30px;
$field-font-family: $font-main;
$field-font-size: $global-font-size;
$field-font-weight: $global-weight-normal;
$field-padding: 10px;
$field-border-radius: 5px;
$field-margin-bottom: 10px;
$field-transition-duration: $global-transition-duration;

$field-focus-color: $field-color;
$field-focus-background: $field-background;
$field-focus-border-color: $field-border-color;

$field-textarea-height: 150px;
$field-textarea-padding: 5px;

$field-placeholder-color: gray;
$field-placeholder-hide-focus: false; // boolean. Скрытие placeholder при фокусе
$field-placeholder-transition-duration: 0.3s; // скорость скрытия

$field-error-color: red;
$field-error-border-color: $field-error-color;
$field-error-background: $field-background;

// 5. Breakpoints //
// -----------------

$breakpoints: (
    start: 320px,
    small: 480px,
    medium: 768px, // 510px + $global-padding-medium-down * 2
    large: 992px, // $global-max-width + $global-padding-medium-down * 2
    xlarge: 1200px,
    xxlarge: 1440px,
);

// 6. Фиксированный header //
// --------------------------

$fixed-header: false; // фиксированный header
$class-header-container: '#{$class-header}__fixed-container'; // контейнер для фиксированного блока
$class-fixed-header: '#{$class-header}__fixed'; // фиксированный блок
$height-fixed-header: auto;

// 7. Modular scale //
// -------------------

$ms-start-breakpoint: 992px; // начало масштабирования (вниз)
$ms-end-breakpoint: 400px; // конец масштабирования (вниз)
$ms-num-steps-breakpoints: 7; // количество шагов

// 8. Переменные проекта
// ---------------------
