@if $fixed-header {

    .#{$class-header-container} {
        height: $height-fixed-header;
    }

    .#{$class-fixed-header} {
        position: fixed;
        z-index: $z-index-fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $height-fixed-header;
        min-width: $global-width + $global-padding * 2;
    }

}
