.ya-tabs__list-ul {
    @include cols(100%, 0, 'li');

    overflow: hidden;
    position: relative;
}

.ya-tabs__list-li {
    flex-shrink: 0;

    .ya-tabs-ready & {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: $z-index-base;
        top: 0;
        left: 0;
        width: 100%;
    }

    &.ya-tabs-active {
        z-index: $z-index-base + 1;
        opacity: 1;
        visibility: visible;
    }
}
