$ratioMargin: 0.6;
$ratioFont: 1;

.ya-map-content {
    font-family: $font-main;
    @include fluid-type(padding-right padding-left, 320px $global-max-width, 32px * $ratioMargin 32px);
    @include fluid-type(padding-top padding-bottom, 320px $global-max-width, 29px * $ratioMargin 29px);
    background: #D4DCD1;
    line-height: 1.2;

    & > *:last-child {
        margin-bottom: 0;
    }

    & > *:empty {
        display: none;
    }

    .ya-geo__list-content-map-info & {
        height: 100%;
        overflow-y: auto;
    }
}

.ya-map-content__marker {
    @include fluid-type(margin-bottom, 320px $global-max-width, 6px * $ratioMargin 6px);
    @include fluid-type(font-size, 320px $global-max-width, 16px * $ratioFont 16px);
    font-weight: 300;
    color: #E7452E;

    &:empty {
        margin-bottom: 0 !important;
    }
}

.ya-map-content__title {
    @include fluid-type(margin-bottom, 320px $global-max-width, 29px * $ratioMargin 29px);
    @include fluid-type(font-size, 320px $global-max-width, 32px * $ratioFont 32px);
    font-weight: 300;
    line-height: 1;
    color: #4B4D4A;
}

.ya-map-content__address {
    @include fluid-type(margin-bottom, 320px $global-max-width, 11px * $ratioMargin 11px);
    @include fluid-type(font-size, 320px $global-max-width, 16px * $ratioFont 16px);
    font-weight: 300;
    color: #4B4D4A;
}

.ya-map-content__time {
    @include fluid-type(margin-bottom, 320px $global-max-width, 28px * $ratioMargin 28px);
    @include fluid-type(font-size, 320px $global-max-width, 16px * $ratioFont 16px);
    color: #979797;
}

.ya-map-content__table {

    td {
        vertical-align: baseline;
        @include fluid-type(font-size, 320px $global-max-width, 16px * $ratioFont 16px);
        color: #4B4D4A;
        font-weight: 300;
        text-transform: lowercase;

        &:first-child {
            @include fluid-type(font-size, 320px $global-max-width, 20px * $ratioFont 20px);
            @include fluid-type(padding-right, 320px $global-max-width, 26px * $ratioMargin 26px);
            font-weight: normal;
        }
    }

    tr:not(:last-child) td {
        @include fluid-type(padding-bottom, 320px $global-max-width, 16px * $ratioMargin 16px);
    }
}

ymaps[class*=balloon__content] {
    padding: 0 !important;
    margin-right: 0 !important;
    padding-right: 32px;
    background: #D4DCD1;
    box-sizing: border-box !important;
}

ymaps[class*=balloon__tail] {
    background: #D4DCD1;

    &::after {
        background: #D4DCD1;
    }
}

ymaps[class*=balloon__close] {
    position: relative;
    top: 2px;
    right: 5px;
}