<!--Шаблон для карт-->
<!--Если карта скрывается, то data-map или data-map-container должны быть у скрытых элементов-->
<div data-map>
	<div data-map-coord="[66567.96, 857.86576]" data-map-title="" data-map-time="" data-baloon-marker="" data-baloon-title="" data-baloon-address="" data-baloon-time=""></div>

	<div data-map-coord="[66567.96, 857.86576]">
		<div data-map-title="" data-map-time="" data-baloon-marker="" data-baloon-title="" data-baloon-address="" data-baloon-time=""></div>
	</div>

	<table data-map-table></table> <!--Для времени работы-->

	<div data-map-container id="ya-map-id"></div>
</div>