<div class="ya-map">
    <ul class="ya-map__addresses-ul">
        <li class="ya-map__addresses-li">
            <div class="ya-map__addresses-city">Ростов-на-Дону</div>
            <div class="ya-map__addresses-full">344000 г. Ростов-на-Дону, ул.Греческого города Волос, д.6, оф.512</div>
            <ul class="ya-map__addresses-more-ul">
                <li class="ya-map__addresses-more-li">
                    <div class="ya-map__addresses-more-1">Телефон/факс:</div>
                    <div class="ya-map__addresses-more-2">+7 863 209-83-00</div>
                </li>
            </ul>
        </li>
    </ul>
    <div id="ya-map"></div>
</div>
