$sidebar-margin-x: 30px;
$sidebar-margin-y: 50px;

// отступы
%vertical-columns-margins {

    margin-bottom: $sidebar-margin-y;

    &:last-child {
        margin-bottom: 0;
    }

    // @include breakpoint(large) {
    //     margin-bottom: 0;
    // }
}

.ya-content__row {
    display: flex;
    // flex-direction: column;

    // @include breakpoint(large) {
        // flex-direction: row;
    // }
}

.ya-content__main {
    margin-bottom: $sidebar-margin-y;
    // @extend %vertical-columns-margins;
    //max-width: 100%;
    min-width: 1px;
    flex-grow: 1;
    //flex-basis: 0% !important;

    &:last-child {
        margin-bottom: 0;
    }

    .ya-columns & {

        & > *:first-child {
            margin-top: 0 !important;
        }

        & > *:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.ya-sidebar {
    // @extend %vertical-columns-margins;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    // &:last-child {
        // margin-bottom: 0;
    // }
}

.ya-sidebar__container {
    padding-left: 21px;
    padding-right: 21px;
}

.ya-sidebar__block {
    // @extend %vertical-columns-margins;
    width: 255px;
    margin-bottom: $sidebar-margin-y;

    &:last-child {
        margin-bottom: 0;
    }

    & > * {
        margin: 0 !important;
    }

    .ya-sidebar:first-child & {
        margin-right: $sidebar-margin-x !important;
    }

    .ya-sidebar:last-child & {
        margin-left: $sidebar-margin-x !important;
    }

    &:empty {
        margin: 0 !important;
        width: 0 !important;
    }
}
