@mixin button-color($color, $color-hover: $color, $color-active: $color-hover) {
    color: $color !important;

    .is-no-touch &:hover,
    .is-no-touch &:focus {
        color: $color-hover !important;
    }

    .is-no-touch &:active {
        color: $color-active !important;
    }
}

@mixin button-background($background, $background-hover: $background, $background-active: $background-hover) {
    background: $background;

    .is-no-touch &:hover,
    .is-no-touch &:focus {
        background: $background-hover;
    }

    .is-no-touch &:active {
        background: $background-active;
    }
}

@mixin button-border-color($border-color, $border-color-hover: $border-color, $border-color-active: $border-color-hover) {
    border-color: $border-color;

    .is-no-touch &:hover,
    .is-no-touch &:focus {
        border-color: $border-color-hover;
    }

    .is-no-touch &:active {
        border-color: $border-color-active;
    }
}
