<div class="ya-allow-cookie">
	<div class="ya-container">
		<div class="ya-allow-cookie__container">
			<div class="ya-allow-cookie__row">
				<div class="ya-allow-cookie__col">
					<div class="ya-allow-cookie__text">На сайте используются cookie-файлы, которые помогают показывать Вам самую актуальную информацию. Продолжая пользоваться сайтом, Вы даете согласие на использование ваших Метаданных и cookie-файлов. <a href="rules-cookies.html">Подробнее о правилах использования cookie</a></div>
				</div>
				<div class="ya-allow-cookie__col">
					<a href="#" class="ya-button ya-button--red ya-allow-cookie__button" target="_blank">Согласен</a>
				</div>
			</div>
		</div>
	</div>
</div>
