<!--https://github.com/VodkaBears/Remodal-->

<a href="#modal">Для открытия модального окна href="id" или data-remodal-target="modal"</a>

<div class="remodal" data-remodal-id="modal" data-body-modifier="test test2">
    <div class="remodal__container">
         <button data-remodal-action="close" class="remodal__close">
            <span class="ya-icon ya-icon--{{iconClose}}"></span>
        </button>
        <div class="remodal__header">
            <span class="remodal__title">Remodal</span>
            <span class="remodal__subtitle">Remodal subtitle</span>
        </div>
        <div class="remodal__content">
            <p>Здесь контент</p>
            <a href="#modal1">Открытие другого окна</a>
        </div>
        <!--<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>-->
        <!--<button data-remodal-action="confirm" class="remodal-confirm">OK</button>-->
    </div>
</div>


<div class="remodal" data-remodal-id="modal1" data-body-modifier="test test2">
    <div class="remodal__container">
        <button data-remodal-action="close" class="remodal__close">
            <span class="ya-icon ya-icon--{{iconClose}}"></span>
        </button>
        <div class="remodal__header">
            <span class="remodal__title">Remodal1</span>
            <span class="remodal__subtitle">Remodal subtitle1</span>
        </div>
        <div class="remodal__content">
            <p>Здесь контент1</p>
        </div>
        <!--<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>-->
        <!--<button data-remodal-action="confirm" class="remodal-confirm">OK</button>-->
    </div>
</div>
