<a href="#modal-tariffs" class="ya-tariffs__a">Тарифы и ограничения</a>
<div class="remodal" data-remodal-id="modal-tariffs" data-remodal-options="hashTracking: false">
    <div class="remodal__header">
        <div class="remodal__container">
            <div class="remodal__header-row">
                <div class="ya-col">
                    <span class="remodal__title">Лимиты и тарифы</span>
                </div>
                <div class="ya-col">
                    <a href="#" data-remodal-action="close" class="remodal__close">
                        {{Icon iconName='close'}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="remodal__content">
        <a class="ya-open-nested-remodal" href="#" data-nested-remodal-target="modal-tariffs2">Вложенное окно</a>
    </div>
</div>
