html, body {
    height: 100%;
}

.#{$class-container-page} {
    display: flex;
    flex-direction: column;
}

// этот контейнер для прижатия футера в ie11
.#{$class-container-page}__in {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.#{$class-footer} {
    flex: none;
}

.#{$class-container-content} {
    flex: 1 0 auto;
}

.#{$class-header} {
    flex: none;
}
