<!-- http://www.idangero.us/swiper -->

<div class="swiper-container-main ya-not-ready swiper-container-main--...">
    <div class="swiper-container">
        <ul class="swiper-wrapper">
            {{#each list}}
                <li class="swiper-slide">
					<div class="swiper-content">

					</div>
                </li>
            {{/each}}
        </ul>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <button class="swiper-button swiper-button-prev">
            <span class="ya-icon"></span>
        </button>
        <button class="swiper-button swiper-button-next">
            <span class="ya-icon"></span>
        </button>

        <!-- If we need scrollbar -->
        <!--<div class="swiper-scrollbar"></div>-->
    </div>
</div>

<div class="swiper-container-thumbs ya-not-slider swiper-container-thumbs--...">
    <!-- Slider thumbs container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper">
            <!-- Slides -->
            <li class="swiper-slide">Slide 1</li>
            <li class="swiper-slide">Slide 2</li>
            <li class="swiper-slide">Slide 3</li>
        </ul>

        <!-- If we need pagination -->
        <!--<div class="swiper-pagination"></div>-->

        <!-- If we need navigation buttons -->
        <button class="swiper-button swiper-button-prev">
            <span class="ya-icon"></span>
        </button>
        <button class="swiper-button swiper-button-next">
            <span class="ya-icon"></span>
        </button>

        <!-- If we need scrollbar -->
        <!--<div class="swiper-scrollbar"></div>-->
    </div>
</div>
