$button-line-height: 1;

.ya-button {
    display: inline-block;
    padding-top: $button-correction-top;
    padding-bottom: $button-correction-bottom;
    padding-right: $button-padding-x;
    padding-left: $button-padding-x;
    line-height: $button-line-height;
    height: $button-height;
    vertical-align: top;
    font-size: $button-font-size;
    border-radius: $button-radius;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    text-align: center;
    text-decoration: none;
    transition: all $global-transition-duration linear;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    @if $button-border-width != 0 {
        border: $button-border-width $button-border-style transparent;
    }

    &[disabled] {
        filter: grayscale(100%);
        pointer-events: none;
    }

    .ya-is-no-touch &:active {
        transition: all 0s;
    }

    &--clear {
        padding: 0;
        background: 0;
        height: auto;
    }


    // set of buttons //

    &--red {
        @include button-color(black, white, red);
        @include button-background(white, black, blue);
        @include button-border-color(black, green);
    }
}

a.ya-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
