$button-line-height: 1.5;

.ya-button {

    // основные стили //
    $button-padding-y: em(((($button-height - $button-border-width * 2) - ($button-font-size * $button-line-height)) / 2));

    display: inline-block;
    padding: ($button-padding-y - $button-correction-padding-y) $button-padding-x ($button-padding-y + $button-correction-padding-y);
    // line-height: $button-height - $button-border-width * 2;
    line-height: $button-line-height;
    vertical-align: top;
    font-size: $button-font-size;
    border-radius: $button-radius;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    text-align: center;
    text-decoration: none;
    transition: all $global-transition-duration linear;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    @if $button-border-width != 0 {
        border: $button-border-width $button-border-style transparent;
    }

    &[disabled] {
        filter: grayscale(100%);
        pointer-events: none;
    }

    .ya-is-no-touch &:active {
        transition: all 0s;
    }

    &--clear {
        padding: 0;
        background: 0;
        height: auto;
    }

    &.example-lg {
        $button-padding-y: em((((54px - $button-border-width * 2) - ($button-font-size * $button-line-height)) / 2));

        padding: ($button-padding-y - $button-correction-padding-y) em(30px) ($button-padding-y + $button-correction-padding-y);
    }


    // набор кнопок //

    &--red {
        @include button-color(black, white, red);
        @include button-background(white, black, blue);
        @include button-border-color(black, green);
    }
}
