.ya-field {
    display: block;
    width: 100%;
    padding: 0 $field-padding;
    height: $field-height;
    border: $field-border-width $field-border-style $field-border-color;
    font-family: $field-font-family;
    font-weight: $field-font-weight;
    font-size: $field-font-size;
    color: $field-color;
    border-radius: $field-border-radius;
    background: $field-background;
    transition: all $global-transition-duration linear;
    -webkit-appearance: none;

    &:focus {
        color: $field-focus-color;
        background: $field-focus-background;
        border-color: $field-focus-border-color;
    }

    .ya-is-error &,
    &.ya-is-error {
        
        @if $field-error-color != '' {
            color: $field-error-color !important;
        }

        @if $field-error-border-color != '' {
            border-color: $field-error-border-color !important;
        }

        @if $field-error-background != '' {
            background: $field-error-background !important;
        }
    }
}

textarea.ya-field {
    height: $field-textarea-height;
    padding: $field-textarea-padding $field-padding;
}

.ya-field-group {
    display: flex;
    border: 1px solid white;
    border-radius: $field-border-radius;
    overflow: hidden;
    transition: all $global-transition-duration linear;

    & > * {
        // flex: 1 1 0%;
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-radius: 0;

        &:first-child {
            border-left: none;
            border-radius: $field-border-radius - 2 0 0 $field-border-radius - 2;
        }

        &:last-child {
            border-radius: 0 $field-border-radius - 2 $field-border-radius - 2 0;
        }

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.ya-width-auto > * {
        flex: 1 1 auto;
    }

    &.ya-is-error {
        border-color: $field-error-border-color;

        & > * {
            border-color: $field-error-border-color;
        }
    }
}

.ya-label-checkbox {
    display: inline-block;
    cursor: pointer;
}

.ya-checkbox-row {
    @include cols(shrink default, 10px);
}

.ya-checkbox-value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid white;
}

[class*=icon] {

    .ya-checkbox-value__icon & {
        opacity: 0;
    }

    input:checked + .ya-checkbox-value & {
        opacity: 1;
    }
}

.ya-field-label {
    display: block;
    font-size: 14px;
    font-weight: 600;
}
