[data-tabs-content] {
	display: none;

	&:first-child {
		display: block;
	}

	.ya-tabs-ready & {
		display: none;
	}

	&.ya-tabs-active {
		display: block;
	}
}

[data-tabs-button] {
	cursor: pointer;
	user-select: none;

	&.ya-tabs-active {
		cursor: default;
	}
}