<!-- Для первоначальной инициализации нужного таба необходимо: -->
<!-- 1. Контейнеру "[data-tabs-container]" добавить класс "ya-tabs-ready" -->
<!-- 2. Необходимой кнопке "[data-tabs-button]" добавить класс "ya-tabs-active" -->
<!-- 3. Необходимому табу "[data-tabs-content]" добавить класс "ya-tabs-active" -->

<div data-tabs-container>
	<ul>
		{{#each tabs}}
			<li>
				<div data-tabs-button>{{name}}</div>
			</li>
		{{/each}}
	</ul>
	<ul>
		{{#each tabs}}
			<li data-tabs-content>
				{{text}}
			</li>
		{{/each}}
	</ul>
</div>
