html, body {
    height: 100%;
}

.ya-page {
    display: flex;
    flex-direction: column;
}

// этот контейнер для прижатия футера в ie11
.ya-page__in {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.ya-footer {
    flex: none;
}

.ya-content {
    flex: 1 0 auto;
}

.ya-header {
    flex: none;
}
