$text-margin-cols: 20px;

.ya-text__row {
    @include cols(default, $text-margin-cols);

    @for $i from 2 through 10 {
        &.ya-cols-#{$i} {
            @include cols($i, $text-margin-cols);
        }
    }

    & > .ya-col > *:first-child {
        margin-top: 0;
    }

    & > .ya-col > *:last-child {
        margin-bottom: 0;
    }
}
