<div class="ya-print">
    <div class="container">
        <div class="ya-row ya-flex ya-between ya-align-center ya-margin-md">
            <div class="ya-col">
                <div class="ya-row ya-flex ya-align-center">
                    <div class="ya-col">
                        {{> logo/logo logo.xs}}
                    </div>
                    <div class="ya-col">
                        <div class="ya-print__text">
                            <p>Умный поиск недвижимости</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ya-col">
                <div class="ya-print__text">
                    <p>http://adres-a.ru/</p>
                </div>
            </div>
        </div>
        <div class="ya-row" data-print-container="table-2"></div>
        <div class="ya-row" data-print-container="intro"></div>
        <div class="ya-row ya-flex ya-between ya-margin-md">
            <div class="ya-col ya-col-6">
                <div class="ya-row ya-margin-md">
                    <div data-print-container="main-img"></div>
                </div>
                <div class="ya-row ya-margin-md">
                    <div data-print-container="desc"></div>
                </div>
                <div class="ya-row">
                    <div data-print-container="map"></div>
                </div>
            </div>
            <div class="ya-col ya-col-6">
                <div class="ya-row ya-margin-md">
                    <div data-print-container="card"></div>
                </div>
                <div class="ya-row ya-margin-md">
                    <div data-print-container="text"></div>
                </div>
                <div data-print-container="table"></div>
            </div>
        </div>
    </div>
</div>
