<button type="button" data-ya-modal-open="#ya-modal">Открыть окно</button>

<div class="ya-modal-wrapper  ya-modal--offcanvas-right" id="ya-modal" data-ya-modal-not-toggle="true" data-ya-modal-overlay-none="true" data-ya-modal-duration="300" data-ya-modal-modifier="">
    <div class="ya-modal-wrapper__in">
        <div class="ya-modal">
            <div class="ya-modal__container">
                <button type="button" data-ya-modal-close>Закрыть</button>
                <div class="ya-modal__header">
                    <span class="ya-modal__title">Заголовок</span>
                    <span class="ya-modal__subtitle">Подзаголовок</span>
                </div>
                <div class="ya-modal__content">
                    Здесь контент
                </div>
            </div>
        </div>
    </div>
</div>
