<div class="container-form">
    <form data-success=".ya-form__success">
        <div class="ya-form__row">
            <div class="ya-field-container">
                <input class="ya-field" type="text" name="" placeholder=""/>
            </div>
            <div class="ya-field-container">
                <input class="ya-field" type="text" name="" placeholder=""/>
            </div>
        </div>
        <div class="ya-form__row">
            <div class="ya-field-container">
                <input class="ya-field" type="text" name="" placeholder=""/>
            </div>
        </div>
        <div class="ya-form__buttons">
            <button class="ya-button" type="submit">Отправить</button>
        </div>
    </form>
    <div class="ya-form__success ya-show-success">
        <span class="ya-form__success-title">Заголовок</span>
        <div class="ya-form__success-text ya-text">
            <p>Текст</p>
        </div>
        <button class="ya-close-success" type="button">Закрыть</button>
    </div>
</div>
